{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>{% block title %}{% endblock  %}</title>
		<script>
			tailwind.config = {
				theme: {
					extend: {
						colors: {
							primary: "#3b82f6",
							muted: "#f3f4f6",
							"muted-foreground": "#6b7280",
						},
					},
				},
			};
		</script>

		<style>
			.tab-content {
				display: none;
			}
			.tab-content.active {
				display: block;
			}
			.tabs-trigger.active {
				background-color: #ec85fe;
				color: white;
			}
		</style>
		<script src="https://cdn.tailwindcss.com"></script>
		<script src="https://kit.fontawesome.com/1dceec0453.js" crossorigin="anonymous"></script>
		<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>
		<link href='https://fonts.googleapis.com/css?family=Alata' rel='stylesheet'>
		<script src="https://kit.fontawesome.com/1dceec0453.js" crossorigin="anonymous"></script>
    
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
		<link rel="stylesheet" href="{% static "output.css" %}" />
	</head>
	<body>
		{% block content %}{% endblock %}
	</body>
</html>