{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static "output.css" %}" />
    <script src="https://kit.fontawesome.com/1dceec0453.js" crossorigin="anonymous"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>
    <link href='https://fonts.googleapis.com/css?family=Alata' rel='stylesheet'>
</head>
<body>
    <header class="w-full h-[105px] relative"> 
        <div class="flex justify-between items-center h-full pl-[5%] pr-[5%]"> 
          <div class="text-[32px] font-{Arial}" style="font-family: Alata;"><a href="{% url 'products:home' %}">Vivid</a></div>
          <div class="flex flex-row items-center">
            <div class="mr-10"><input type="search" placeholder="Search..." class="border-[0.8px] border-gray-300 text-[18px]  pl-[5%] rounded-[10px] w-[380px] h-[40px]" ></div>

            <div class="flex flex-row items-center gap-[50px] ml-10 ">
              <a href="{% url 'products:register' %}" ><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-[28px] h-[28px] text-[#666666] hover:text-black items-center">
                <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 6a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0ZM4.501 20.118a7.5 7.5 0 0 1 14.998 0A17.933 17.933 0 0 1 12 21.75c-2.676 0-5.216-.584-7.499-1.632Z" />
              </svg>
            </a>
            <a onclick="openFavoritesTab()" href="{% url 'products:personal' %}"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-[28px] h-[28px] text-[#666666] hover:text-black">
                <path stroke-linecap="round" stroke-linejoin="round" d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12Z" />
              </svg>
            </a>
              <a href=""> <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-[28px] h-[28px] text-[#666666] hover:text-black"> 
              <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 0 0-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 0 0-16.536-1.84M7.5 14.25 5.106 5.272M6 20.25a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Zm12.75 0a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Z" />
            </svg>
          </a>
          </div>
          </div>
        </div>
      <div class="w-[90%] h-[1px] bg-gradient-to-r from-[#FFFF] via-[#E2E2E2] to-[#ffff] m-auto" ></div>
      </header>

      <footer class="flex flex-row items-center w-full h-[74px] gap-10 text-[24px] pl-[5%] pr-[5%]  " style="font-family: Microsoft Sans Serif;">
        <button class="text-[#717171] hover:text-black font modal-page">Man</button>
        <button id="openModalButtonWoman" class="text-[#717171] hover:text-black">Woman</button>
      </footer>
      <div class="w-full h-[1px] bg-[#f3f2f2] m-auto" ></div>
      <section id="modal" class="absolute w-full h-[500px] flex-row mt-5 gap-10 bg-white flex z-[20] hidden">
        <div class="flex flex-col gap-5 text-[20px] pl-[104px] ">
          <p>Clothes</p><p>Accessories</p><p>Shoes</p><p>Parfums</p>
        </div>
        <div class=" w-[5px] h-[500px]"></div>
       <div class="flex flex-row gap-15">
        <div>
          <span class="text-[20px]" >Clothes</span>
          <div class="flex flex-col text-[18px] gap-1" >
            <a href="" class="text-[#717171] hover:text-[#000000]">T-Shirts</a>
            <a href=""class="text-[#717171] hover:text-[#000000]">Polo Shirts</a>
            <a href="" class="text-[#717171] hover:text-[#000000]" >Shirts</a>
            <a href="" class="text-[#717171] hover:text-[#000000]" >Jeans</a>
            <a href="" class="text-[#717171] hover:text-[#000000]" >Trousers</a>
            <a href="" class="text-[#717171] hover:text-[#000000]" >Sweatshirts & Hoodies</a>
            <a href="" class="text-[#717171] hover:text-[#000000]" >Sweaters</a>
            <a href="" class="text-[#717171] hover:text-[#000000]" >Cardigans</a>
            <a href="" class="text-[#717171] hover:text-[#000000]" >Joggers</a>
            <a href="" class="text-[#717171] hover:text-[#000000]" >Chinos</a>
            <a href="" class="text-[#717171] hover:text-[#000000]" >Turtlenecks</a>
            <a href="" class="text-[#717171] hover:text-[#000000]" >Blazers & Jackets</a>
            <a href="" class="text-[#717171] hover:text-[#000000]" >Tank Tops</a>
          </div>
        </div>
        <div>
          <span class="text-[20px]" >Outerwear</span>
          <div class="flex flex-col text-[18px] gap-1" >
            <a href="" class="text-[#717171] hover:text-[#000000]">View All</a>
            <a href=""class="text-[#717171] hover:text-[#000000]">Blazers</a>
            <a href="" class="text-[#717171] hover:text-[#000000]" >Jackets</a>
            <a href="" class="text-[#717171] hover:text-[#000000]" >Bombers</a>
            <a href="" class="text-[#717171] hover:text-[#000000]" >Trousers</a>
            <a href="" class="text-[#717171] hover:text-[#000000]" >Leather Jackets</a>
            <a href="" class="text-[#717171] hover:text-[#000000]" >Denim Jackets</a>
            <a href="" class="text-[#717171] hover:text-[#000000]" >Vests</a>
          </div>
        </div>
        <div>
          <span class="text-[20px]" >Other Sections:</span>
          <div class="flex flex-col text-[18px] gap-1" >
            <a href="" class="text-[#717171] hover:text-[#000000]">Homewear</a>
            <a href=""class="text-[#717171] hover:text-[#000000]">Underwear</a>      
          </div>
        </div>
       </div>
      </section>
      <script src="{%static 'js/header.js'%}"></script>
</body>
</html>